{% for driver in drivers %}
<option value="{{driver.getShort()}}" {{selectedValue == driver.getShort() ? ' selected="selected" ' : ''}}>
    {{driver.getName() ~ ' (' ~ driver.getShort() ~ ')'}}
</option>
{% endfor %}