<div class="panel panel-default">
    <div class="panel-heading text-center">
        <strong>NYEREMÉNY</strong>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><strong class="color-two">Összesített helyezés</strong></th>
                <th><strong class="color-two">Összeg</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">
                    <strong class="color-one">1.</strong>
                </td>
                <td>
                    <strong class="color-one">21,700</strong>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <strong class="color-one">2.</strong>
                </td>
                <td>
                    <strong class="color-one">13,000</strong>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <strong class="color-one">3.</strong>
                </td>
                <td>
                    <strong class="color-one">8,700</strong>
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="11">
                    <strong class="color-one">11 résztvevő X 4500 = 49500 - 6100(szerver) = 43400</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
