<div class="panel panel-default">
    <div class="panel-heading text-center">
        <strong>NYEREMÉNY</strong>
    </div>
    <div class="table-responsive table-striped text-center" style="padding: 10px; background-color: rgba(0,0,0,.6)">
        <strong class="color-one">Még nem zárult le a nevezés!</strong>
    </div>
    <!--
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><strong class="color-two">Összesített helyezés</strong></th>
                <th><strong class="color-two">Összeg</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">
                    <strong class="color-one">1.</strong>
                </td>
                <td>
                    <strong class="color-one">27,500</strong>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <strong class="color-one">2.</strong>
                </td>
                <td>
                    <strong class="color-one">16,500</strong>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <strong class="color-one">3.</strong>
                </td>
                <td>
                    <strong class="color-one">11,000</strong>
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="11">
                    <strong class="color-one">13 résztvevő X 5000 = 65000 - 10000(üzemeltetés) = 55000</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    -->
</div>
