<div class="panel panel-default">
    <div class="panel-heading text-center">
        <strong>NYEREMÉNY</strong>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><strong class="color-two">Összesített helyezés</strong></th>
                <th><strong class="color-two">Összeg</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">
                    <strong class="color-one">1.</strong>
                </td>
                <td>
                    <strong class="color-one">28,000</strong>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <strong class="color-one">2.</strong>
                </td>
                <td>
                    <strong class="color-one">17,000</strong>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <strong class="color-one">3.</strong>
                </td>
                <td>
                    <strong class="color-one">11,000</strong>
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="11">
                    <strong class="color-one">14 résztvevő X 4000 = 56000</strong>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-justify">
            <strong class="color-one">Holtverseny:</strong>
            A maximális össznyeremény az fix. Egyforma pontok esetén az adott helyezésért járó összeg és ahányan
            egyforma pontokat értek el, annyi további helyezésért járó összeg(ek) összeadódnak és annyi egyenlő részre
            osztódnak el ahányan egyforma pontokat értek el. Így elfogyhatnak a helyezésért járó összegek. Tehát ha pl
            ha az adott évben az első 3 díjazott és mondjuk az első helyen van egy hármas holtverseny, akkor a teljes
            összeg 3 egyenlő részre osztódik és a második és haramadik már nem részesül díjazásban (mert ők igazából a
            holtverseny miatt egyébként negyedikek és ötödikek).
        </div>
    </div>
</div>
