<form id="signin" class="navbar-form navbar-right" role="form" method="post"
      action="?module=login/logout&{{ actualPage }}">
    <input class="form-control" id="disabledInput" type="hidden" value="{{ name }}" disabled>
    <button class="btn btn-new color-one">
        <i class="glyphicon glyphicon-user color-one"></i>
        <span class="color-one">{{ name }}</span>
    </button>
    <button type="submit" class="btn btn-new">
        <i class="glyphicon glyphicon-log-out color-one"></i>
        <span class="color-one">{{ language.get('user_logout') }}</span>
    </button>
</form>