{% for typeName, statisticType in statistics %}
    {% for name, statistic in statisticType %}
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <strong>{{ language.get(typeName~'_'~name~'_'~'stat') }}</strong>
            </div>
            <div class="table-responsive custom-scrollbar">
                <table class="table table-striped">
                    <tbody>
                    {% for attrName, attributes in statistic %}
                        <tr>
                            <th style="vertical-align: middle;"><strong>{{ language.get('result_'~attrName) }}</strong>
                            </th>
                            {% for attributeKey, attributeValue in attributes %}
                                <th style="text-align: center">
                                    <span class="color-one">{{ attributeKey }}</span><br>
                                    <span class="color-two">{{ attributeValue }}%</span>
                                </th>
                            {% endfor %}
                            {% for i in  0..max(0,(14 - attributes|length)) %}
                                {% if i %}
                                    <th width="7%"></th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endfor %}