{% extends 'controller/module/base_module.tpl' %} {% block body_content %}
    <div id="messages-list" class="panel-body custom-scrollbar" style="max-height: 200px;overflow-y: scroll;">
        {% include('controller/module/message_wall/messages.tpl') %}
    </div>
    <div id="messages-send-form-div" class="bg-one" style="padding: 5px">
        {% include('controller/module/message_wall/form.tpl') %}
    </div>
{% endblock %}