<table class="table table-striped">
    {% for message in messages %}
        {% set userName = message.getUser().getName() %}
        <tr>
            <td>
                <strong class="color-one ">{{ userName }}:</strong>
            </td>
            <td>
                <strong>{{ message.getContent()|raw }}</strong>
            </td>
            <td class="visible-lg visible-md visible-sm">
                <small><i class="color-two">({{ message.getDateTime()|date("G:i/M.j") }})</i></small>
            </td>
        </tr>
    {% endfor %}
</table>