<div class="panel panel-default">
    <div class="panel-heading text-center">
        {% block heading_title %}
            <strong>{{ (id ~ '_title')|trans|upper }}</strong>
        {% endblock %}
        {% block button_details %}
            {% if details_link is defined and details_link%}
                <div class="btn-group pull-right" style="margin-top: -2px">
                    <a id="{{ id }}"
                       href="{{ details_link }}"
                       title="{{ 'module_details'|trans }}"
                       class="text-right glyphicon glyphicon-new-window"
                       aria-hidden=true>
                    </a>
                </div>
            {% endif %}
        {% endblock %}
    </div>
    <div>
        {% block body_content %}{% endblock %}
    </div>
</div>
{% block javascripts %}
{% endblock %}
