{% extends('base.html.twig') %}
{% block body %}
    <div class="table-responsive table-striped text-center" style="padding: 10px; background-color: rgba(0,0,0,.6)">
        <h2 class="color-one text-center">{{ 'admin_no_permisson_or_data_error'|trans }}</h2>
    </div>
{% endblock %}